/* div {
    border: 1px solid black;
} */

.foto-content {
    border-radius: 10px;
    width: 100%;
    
}

.bingkai {
    padding: 12px;
    padding-bottom: 55px;
    background-color: white;
    border-radius: 10px;
}

.content {
    border-radius: 10px;
    margin-top: 50px;
}

.content-samping {
    border-radius: 10px;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.gambar-samping img {
    height: 80px;
}

.icon-content input {
    width: 100%;
    border-radius: 25px;
    height: 25px;
}

.profile-content {
    background-color: white;
    border-radius: 10px;
}

.bingkai-profile {
    padding: 12px;

    background-color: white;
    border-radius: 10px;
}

.tanggal {
    font-size: 12px;
    color: gray;
}

.tanggal p{
    margin-bottom: 0px;
    margin-left: 4px;
    
}

.tanggal i {
    margin-top: 3px;
    
    
}

